node_modules
logs
.env
users.json
sessions.json
card_card_categories.json
card_categories.json
cards.json
session_users.json
game_mode_cards.json
game_modes.json
session_user_cards.json
icons.json
session_game_modes.json